.blog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;

  @include medium {
    grid-template-columns: 1fr 1fr;
  }
  @include small {
    grid-template-columns: 1fr;
  }

  .card {
    border: solid 1px $gray;
    padding: 15px;
    margin: 15px 0;

    h3 {
      min-height: 50px;
    }
  }
}

.article {
  display: grid;
  grid-template-columns: 1fr 2fr;

  @include medium {
    grid-template-columns: 0.5fr 1.5fr;
  }
  @include small {
    grid-template-columns: 1fr;
  }

  .image {
    margin-top: 25px;
  }

  .content {
    margin-left: 25px;

    a {
      border-bottom: 1px solid $gray;
    }
    a:hover {
      text-decoration: none;
    }
  }
}
