@import "variables";

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  color: $links;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  padding: 0 5%;
}

@import "header";

@import "generic";

@import "blog";
